<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">

	<title>410占座系统</title>

	<!-- Bootstrap core CSS -->
	<link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="/public/stylesheets/main.css" rel="stylesheet">

	<!-- head中link等信息 -->
	{{ block 'head' }} {{ /block }}

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<script src="/node_modules/jquery/dist/jquery.min.js"></script>
	<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/public/javascripts/index.js"></script>
</head>

<body>
	<!-- 头导航模板 -->
	{{ block 'header' }}
	{{ /block }}
	<!-- 内容模板 -->
	{{ block 'content' }}
	{{ /block }}
	<!-- 尾部模板 -->
	{{ block 'footer' }}
	{{ /block }}

	<!-- script 模板 -->
	{{ block 'script' }}
	{{ /block }}

</body>

</html>