<!-- 主页内容 -->
<!-- 主体 -->
<div class="container">
	<div class="jumbotron">
		<h2>欢迎来到410占座系统~</h2>
		<p class="lead">
			麻雀虽小，功能俱全
		</p>
		<p>
			<a class="btn btn-lg btn-success" href="/reserveseat" role="button">
				现在就去占座
				<span class="glyphicon glyphicon-share-alt"></span>
			</a>
		</p>
	</div>

	<div class="row marketing" style="font-size: 16px;">
		<div class="col-lg-6">
			<div class="alert alert-success" role="alert">系统说明：</div>
			<div class="alert alert-info" role="alert">
				1.请用户先注册登录
			</div>
			<div class="alert alert-warning" role="alert">2.建议使用 Chrome 浏览器</div>
		</div>

		<div class="col-lg-6">
			<div class="alert alert-danger" role="alert">3.注意开会通知消息，避免开会期间占座</div>
			<div class="alert alert-success" role="alert">4.请留意开会通知邮件</div>
			<div class="alert alert-warning" role="alert">5. 有问题通过底部邮箱管理员 😜</div>
		</div>
	</div>
</div>